{% extends 'base.html' %}
{% load staticfiles %}
	{%block title %} 
		Formulario Alumno
	{% endblock %}

	{% block content%}
<div class="mt-3 mb-4 card border rounded border-warning">
    <div class="card-body border-bottom">
<h2 class="form-label text-center">Agregar alumno</h2>
<p class="form-label text-justify font-italic">Agregar un alumno nuevo al sistema.</p>
    </div>
<form class="mt-3 container form-horizontal" method="POST">
{% csrf_token %}
    
    {% for field in form %}
      <div class="form-inline form-group">
    {% if field.name == 'password1' %}
    <label class="text-right justify-content-end control-label col-sm-2" for="{{ field.name }}">Contraseña:</label>
          <input class="form-control col-sm-10" type="password" id="{{field.id}}" name="{{field.name}}" required />
    {% elif field.name == 'password2' %}
    <label class="text-right justify-content-end control-label col-sm-2" for="{{ field.name }}">Confirmar contraseña:</label>
          <input class="form-control col-sm-10" type="password" id="{{field.id}}" name="{{field.name}}" required />
    {% elif field.name == 'alu_tutores' %}
    <label class="text-right justify-content-end control-label col-sm-2" for="{{ field.name }}">{{ field.label }}</label>
    <!--<input class="form-control col-sm-10" id="{{field.id}}" name="{{field.name}}" required />-->
    {{field}}
    {% elif field.name == 'alu_fechaIngreso' %}
    <label class="text-right justify-content-end control-label col-sm-2" for="{{ field.name }}">{{ field.label }}</label>
    {{field}}
    {% else %}
    <label class="text-right justify-content-end control-label col-sm-2" for="{{ field.name }}">{{ field.label }}</label>
    <input class="form-control col-sm-10" id="{{field.id}}" name="{{field.name}}" required />
    {% endif %}
    </div>
    {% endfor %}
      <div class="form-group ">
          <div class="d-flex justify-content-around">
            <button class="btn btn-success" type="submit">Registrar</button>
            <button class="btn btn-danger" type="reset">Limpiar campos</button>
          </div>
    </div>
</form>
</div>
{% endblock %}