{% extends 'base.html' %}
{% load staticfiles %}
	{%block title %} 
		Agregar Alumno
	{% endblock %}

	{% block content%}
<div class="mt-3 mb-4 card border rounded border-warning">
    <div class="card-body border-bottom">
<h2 class="form-label text-center">Agregar alumno</h2>
<p class="form-label text-justify font-italic">Agregar un alumno nuevo al sistema.</p>
    </div>
<form class="mt-3 container form-horizontal" method="POST">
{% csrf_token %}
    
    {% for field in form %}
      <div class="form-inline form-group">
    {% if field.name == 'password1' %}
    <label class="text-right justify-content-end control-label col-sm-2" for="{{ field.name }}">Contraseña:</label>
          <input class="form-control col-sm-10" type="password" id="{{field.id}}" name="{{field.name}}" required />
    {% elif field.name == 'password2' %}
    <label class="text-right justify-content-end control-label col-sm-2" for="{{ field.name }}">Confirmar contraseña:</label>
          <input class="form-control col-sm-10" type="password" id="{{field.id}}" name="{{field.name}}" required />
    {% elif field.name == 'alu_tutores' %}
    <label class="text-right justify-content-end control-label col-sm-2" for="{{ field.name }}">{{ field.label }}</label>
    <!--<input class="form-control col-sm-10" id="{{field.id}}" name="{{field.name}}" required />-->
    {{field}}
    {% elif field.name == 'alu_fechaIngreso' %}
    <label class="text-right justify-content-end control-label col-sm-2" for="{{ field.name }}">{{ field.label }}</label>
    {{field}}
    {% elif field.name == 'alu_genero' %}
    <div style="display: none;" >
      {{field}}
    </div>
            <label class="text-right justify-content-end control-label col-sm-2">Genero:</label>
             <select class="custom-select col-sm-10" id="inputGroupSelect01" onchange="changeFunc()" >
                <option onclick="asignaGenero(this)" value="1">Femenino</option>
                <option onclick="asignaGenero(this)" value="2" selected>Masculino</option>
              </select> 
    {% elif field.name == 'alu_vigente' %}
      <div style="display: none;">
      <input type="checkbox" id="id_alu_vigente" name="{{field.name}}" checked />
    </div>
      <label class="text-right justify-content-end control-label col-sm-2">Vigente:</label>
      <input type="checkbox" id="inputCheck" onclick="change(this)"/>
      {% elif field.name == 'slug' %}
       <div style="display: none;">
      {{field}}
    </div>
    {% else %}
    <label class="text-right justify-content-end control-label col-sm-2" for="{{ field.name }}">{{ field.label }}</label>
    <input class="form-control col-sm-10" name="{{field.name}}" required />
    {% endif %}
    </div>
    {% endfor %}
    <div class="form-group ">
          <div class="d-flex justify-content-around">
            <button  class="btn btn-success" type="submit">Guardar</button>
            <button class="btn btn-danger" onclick="window.location = '/'" type="reset">Cancelar</button>
        </div>
    </div>
</form>
<script type="text/javascript">
      function randomString(length, chars) {
      var result = '';
      for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
    return result;
}
 function changeSlug(){
  document.getElementById('id_slug').value = randomString(24, '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ');
 }
 function changeFunc() {
    var selectBox = document.getElementById("inputGroupSelect01");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    document.getElementById('id_alu_genero').value = (selectBox.children[selectedValue - 1].textContent)
   }
   
  function change(itm){
      if (itm.checked) {document.getElementById('id_alu_vigente').setAttribute('checked','')}else{
        document.getElementById('id_alu_vigente').removeAttribute('checked')
    }
   }

   function getStatus(){
    if(document.getElementById('id_alu_vigente').getAttribute('checked') == null){ document.getElementById('inputCheck').removeAttribute('checked')  }
        else{ document.getElementById('inputCheck').setAttribute('checked','') }
    document.getElementById('id_alu_vigente').removeAttribute('required')
   }
   
   getStatus();
   changeFunc();
   changeSlug();

</script>
</div>
{% endblock %}