 {% extends 'base.html' %}

  {% block title %} Inicio {% endblock %}

{% block content %}
    <main role="main" class="container">
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="Offcanvas%20template%20for%20Bootstrap_files/jquery-3.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="Offcanvas%20template%20for%20Bootstrap_files/popper.js"></script>
    <script src="Offcanvas%20template%20for%20Bootstrap_files/bootstrap.js"></script>
    <script src="Offcanvas%20template%20for%20Bootstrap_files/holder.js"></script>
    <script src="Offcanvas%20template%20for%20Bootstrap_files/offcanvas.js"></script>
  

<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="2" style="font-weight:bold;font-size:2pt;font-family:Arial, Helvetica, Open Sans, sans-serif">32x32</text></svg>
{% endblock %}