{% extends 'base.html' %}

	{%block title %} 
		Alumnos
	{% endblock %}

	{% block content%}
<div class="mt-4 mb-4 card border rounded border-warning">
			<div class="container">
                <div class="card-body border-bottom">
<h2 class="form-label text-center">Alumnos registrados</h2>
<p class="form-label text-justify font-italic">Se muestran los alumnos registrados.</p>
    </div>
                <div class="form-inline margenes10">
        <div class="form-group">
            <label class="mr-md-3">Buscar:</label>
            <input type="text" class="mr-md-3 form-control" onkeyup="busquedaEnter(event)" id="inputBusqueda" />
            <button class="btn bg-primary " onclick="Buscar()">Buscar</button>
        </div>        
                </div>
		<table class = "table table-bordered" >
			<thead>
				<tr>
					<td>Nombre</td>
					<!--<td>Tutores</td>
					<td>Vigente</td>-->
					<td>Fecha de Ingreso</td>
					<td>Observaciones</td>
					<td>Foto</td>
					<td colspan="2">--</td>
				</tr>
			</thead>
			<tbody id="ResultadoTabla">
				<tr>
				{% for p in object_list %}
					<td>{{ p.alu_nombre }}</td>
					<!--<td>
                        {% for obj in object_list.alu_tutores %}
                        console.log({{ obj }})
                        {% endfor %}
                    </td>
					<td>{{ p.alu_vigente }}</td>-->
					<td>{{ p.alu_fechaIngreso }}</td>
					<td>{{ p.alu_observaciones }}</td>
					{% if p.alu_foto %}
						<td>
							<img height="100" width="100" src="{{ p.alu_foto.url }}" data-toggle="modal" data-target="#modalImagen" title="Ver foto" onclick="obtenerFoto(this)" class='img-responsive clickPointer'/>
                            
						</td>
		 			{% endif %}
                    <td onclick="window.location ='/detalles/{{p.slug}}'"><i class="glyphicon glyphicon-search"></i></td>
                    <td onclick="window.location ='/updateAlumno/{{p.slug}}'"><i class="glyphicon glyphicon-search"></i></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			<br>
			<a href="/" class="btn btn-default">Volver</a>
	</div>
</div>
<div class="modal" id="modalImagen" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Foto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img height="100%" width="100%" src="" class='img-responsive' id="imgModal" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block loadFiles %}
<script>
function obtenerFoto(itm){
    var ruta = itm.getAttribute('src');
    document.getElementById('imgModal').setAttribute('src',ruta);
}
    
function Buscar(){
       
    var valor = document.getElementById('inputBusqueda').value;
    var x = new XMLHttpRequest();
    x.open('GET','/alumnos/Buscar/?filtro=' + valor)
    x.onreadystatechange = function (e) {
    if (x.readyState == 4) {
        if (x.status === 200) {
            x.addEventListener('load', function(e){       
                var jsonData = JSON.parse(x.responseText)
                iterarObjeto(jsonData);
            });
        } else {
            console.error(x.status);
            }
    }
    }
    x.send();
}
  
function busquedaEnter(e){
    if(e.keyCode == 13){
        Buscar();
    }
}
    
function iterarObjeto(obj){
    document.getElementById('ResultadoTabla').innerHTML = '';
    for(i = 0; i < obj.length; i++){
        var tr = document.createElement('tr');
        tr.innerHTML ='<td>' + obj[i].fields.alu_nombre + '</td>'+
            //'<td>' + obj[i].fields.alu_vigente + '</td>'+
            '<td>' + obj[i].fields.alu_fechaIngreso + '</td>'+
            '<td>' + obj[i].fields.alu_observaciones + '</td>'+
            '<td><img height="100" width="100" src="/media/'+obj[i].fields.alu_foto + '" data-toggle="modal" data-target="#modalImagen" title="Ver foto" onclick="obtenerFoto(this)"  class="img-responsive clickPointer"/></td>'+
        '<td onclick="window.location('+"/detalleAlumno/"+{{p.slug}}')"><i class="glyphicon glyphicon-search"></i></td>';
        
        document.getElementById('ResultadoTabla').appendChild(tr);
    }
}
</script>
{% endblock %}