{% extends 'base.html' %}

	{%block title %} 
		Alumnos
	{% endblock %}

	{% block content%}
			<div class="container">
		<h1>Alumnos registrados</h1>
                <div class="form-inline margenes10">
        <div class="form-group">
            <label>Buscar:</label>
            <input type="text" class="form-control" onkeyup="busquedaEnter(event)" id="inputBusqueda" />
            <button class="btn btn-default" onclick="Buscar()">Buscar</button>
        </div>        
                </div>
                
		<table class = "table table-bordered" >

			<thead>

				<tr>
					<td>Nombre</td>
					<!--<td>Tutores</td>
					<td>Vigente</td>-->
					<td>Fecha de Ingreso</td>
					<td>Observaciones</td>
					<td>Foto</td>

				</tr>

			</thead>
			
			<tbody id="ResultadoTabla">

				<tr>

				{% for p in object_list %}
					<td>{{ p.alu_nombre }}</td>
					<!--<td>
                        {% for obj in object_list.alu_tutores %}
                        console.log({{ obj }})
                        {% endfor %}
                    </td>
					<td>{{ p.alu_vigente }}</td>-->
					<td>{{ p.alu_fechaIngreso }}</td>
					<td>{{ p.alu_observaciones }}</td>

					{% if p.alu_foto %}
						<td>
							<img height="100" width="100" src="{{ p.alu_foto.url }}" class='img-responsive'/>
						</td>
		 			
		 			{% endif %}
					
				</tr>

			{% endfor %}

			</tbody>

		</table>


			<br>

			<a href="/" class="btn btn-default">Volver</a>

	</div>


{% endblock %}

{% block loadFiles %}
<script>
function Buscar(){
       
    var valor = document.getElementById('inputBusqueda').value;
    var x = new XMLHttpRequest();
    x.open('GET','/alumnos/Buscar/?filtro=' + valor)
    x.onreadystatechange = function (e) {
    if (x.readyState == 4) {
        if (x.status === 200) {
            x.addEventListener('load', function(e){       
                var jsonData = JSON.parse(x.responseText)
                iterarObjeto(jsonData);
            });
        } else {
            console.error(x.status);
            }
    }
    }
    x.send();
}
  
function busquedaEnter(e){
    if(e.keyCode == 13){
        Buscar();
    }
}
    
function iterarObjeto(obj){
    document.getElementById('ResultadoTabla').innerHTML = '';
    for(i = 0; i < obj.length; i++){
        var tr = document.createElement('tr');
        tr.innerHTML ='<td>' + obj[i].fields.alu_nombre + '</td>'+
            //'<td>' + obj[i].fields.alu_vigente + '</td>'+
            '<td>' + obj[i].fields.alu_fechaIngreso + '</td>'+
            '<td>' + obj[i].fields.alu_observaciones + '</td>'+
            '<td><img height="100" width="100" src="/media/'+obj[i].fields.alu_foto + '" class="img-responsive"/></td>';
        
        document.getElementById('ResultadoTabla').appendChild(tr);
    }
}
</script>
{% endblock %}