{% extends 'base.html' %}

	{%block title %} 
		Alumnos
	{% endblock %}

	{% block content%}
<div class="mt-4 mb-4 card border rounded border-warning">
			<div class="container">
                <div class="card-body border-bottom">
<h2 class="form-label text-center">Trabajo Diario</h2>
<p class="form-label text-justify font-italic">Se muestran los trabajos que han sido subidos el dia de hoy</p>
    </div>
                <div class="form-inline margenes10">
              
                </div>
		<table class = "table table-bordered" >
			<thead>
				<tr>
					<td>Maestro</td>
					<td>Alumno</td>
					<td>Fecha</td>
					<td>Descripcion</td>
                    <td>Actividad de Apoyo</td>
                    <td>Necesidades</td>
                    <!-- antes y la etiqueta de cierre <td>Evaluar Semanal</td> -->
                    <!--<td>Evaluar Diario</td>-->

				</tr>
			</thead>
			<tbody id="ResultadoTabla">
				{% for p in object_list %}
                <tr>
                	
					<td>{{ p.DT_maestro }}</td>
					<td>{{ p.DT_alumno }} con el id: {{ p.DT_alumno.id }}</td>
					<td>{{ p.DT_fecha }}</td>
					<td>{{ p.DT_descripcion }}</td>
					<td>{{ p.DT_actividadApoyo }}</td>
					<td>{{ p.DT_necesidades }}</td>
					<!--<td>{{ p.id }}</td>-->
				</tr>
			{% endfor %}
			</tbody>
		</table>
			<br>
			<a href="/" class="btn btn-default">Volver</a>
	</div>
</div>
<div class="modal" id="modalImagen" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Foto</h5>
        <button type="button" class="close" data-dismisdanflalvs="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img height="100%" width="100%" src="" class='img-responsive' id="imgModal" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block loadFiles %}
</script>
{% endblock %}