{% extends 'base.html' %}

	{%block title %} 
		Formulario Alumno
	{% endblock %}

	{% block content%}
	
	<h1>Formulario de prueba para maestros</h1>
	    {% block main %}
    <form action="" enctype="multipart/form-data" method="POST"><input name="csrfmiddlewaretoken" value="8gIPdFQ3qED0ZvCrgfSgcKT5YeFJXMufosYbpNKl0RdTfU5xwTjSLnWyeFCnTkZ8" type="hidden">
    <table>
 		<tbody><tr><th><label for="id_mae_nombre">Mae nombre:</label></th><td><select name="mae_nombre" id="id_mae_nombre" required="">
  		<option value="" selected="">---------</option>

  		<option value="1">admin</option>

  		<option value="2">alflo</option>

  		<option value="3">AlexSB664</option>

  		<option value="4">Daniel</option>

		</select></td></tr>
		<tr><th><label for="id_mae_apellidoPaterno">Mae apellidoPaterno:</label></th><td><input name="mae_apellidoPaterno" maxlength="70" id="id_mae_apellidoPaterno" required="" type="text"></td></tr>
		<tr><th><label for="id_mae_apellidoMaterno">Mae apellidoMaterno:</label></th><td><input name="mae_apellidoMaterno" maxlength="70" id="id_mae_apellidoMaterno" required="" type="text"></td></tr>
		<tr><th><label for="id_mae_fechaNacimento">Mae fechaNacimento:</label></th><td><input name="mae_fechaNacimento" id="id_mae_fechaNacimento" required="" type="text"></td></tr>   
        </tbody>
    </table>
    <input name="crear" value="Crear" type="submit">
    </form> <br>
    {% endblock main %}

{% endblock %}
