{% extends "base.html" %}
{% block title %}Informacion del Maestro{% endblock %}
{% block content %}
<div class="mr-md-3 mt-4 mb-4 card border rounded border-danger float-left " style="max-width:300px; height: 505px;">
    <div class="border-bottom">
<h2 class="form-label text-center">Maestro</h2>
    </div>
    <div class="card-body">
        <div class="form-inline form-group">
            <h4 class="card-title w-100">Maestro</h4>
            <h6>Usuario: {{Usuario.username}}</h6>
            <h6>{{Profesor.pro_nombres}} {{Profesor.pro_apellidoPaterno}} {{Profesor.pro_apellidoMaterno}}</h6>
            <h6>Fecha nacimiento: {{Profesor.pro_fechaNacimento}}</h6>
        </div>
    </div>
</div>

{% for gp in Grupos %}

<div class="mr-md-3 mt-4 mb-4 card w-100 border rounded border-danger float-left " style="max-width:300px; height: 505px;">
    <div class="border-bottom">
<h2 class="form-label text-center">Grupo</h2>
    </div>
    <div class="card-body">
        <div class="form-inline form-group">
            <h4 class="card-title w-100">{{gp.gru_clave}}</h4>
            <h6 class="w-100">total alumnos: {{gp.gru_alumnos.all|length}}</h6>
            <h6 class="w-100">{{gp.gru_alumnos.alu_nombre.all}}</h6>
            <h6 class="w-100">salon: {{gp.gru_salon}}</h6>
        </div>
            <h5 class="w-100">Alumnos</h5>
        <div style="max-height: 242px; overflow-x: auto;">
        <table >
        	<thead></thead>
        	<tbody>{% for x in gp.gru_alumnos.all %}
        		<tr><td>{{x.alu_nombre}}</td></tr>
        		{% endfor %}
        	</tbody>
        </table>

        </div>
    </div>
</div>
{% endfor %}
{% endblock %}