{% extends 'base.html' %}
{% block title %}Buscar maestros{% endblock %}
{%block content%}
<div class="mt-3 mb-4 card border rounded border-warning">
 <div class="card-body border-bottom">
<h2 class="form-label text-center">Tutores registrados</h2>
<p class="form-label text-justify font-italic">Se muestran los tutores registrados.</p>
    </div>
  <div class="mt-2 mb-2 form-inline">
        	<label class="text-right justify-content-end control-label col-sm-2">Buscar:</label> 
        	<input type="text" class="form-control" id="inputBusqueda" onkeypress="busquedaEnter(event)" />
        </div>
        <div class="pl-4 pr-4">
<table id="tablaMaestro" class="table table-bordered">
    <thead>
    <td>Usuario</td>
    <td>Nombre</td>
    <td>Fecha nacimiento</td>
    <td colspan="2">--</td>
    </thead>
    <tbody>
{% for object in object_list %}
<tr>
    <td>{{object.pro_nombre}}</td>
    <td>{{object.pro_nombres}} {{object.pro_apellidoPaterno}} {{object.pro_apellidoPaterno}}</td>
    <td>{{object.pro_fechaNacimento|date:"Y-m-d"}}</td>
    <td class="text-center" onclick="window.open('/detalles/maestro/{{object.pro_nombre}}')" ><span style="color: #17a2b8;" class="oi oi-info"></span></td>
    <td class="text-center" onclick="window.open('/actualiza/maestro/{{object.pro_nombre}}')" ><span     style="color: #fe6265;" class="oi oi-pencil"></span></td>
</tr>
{% endfor %}
    </tbody>
</table>
</div>
</div>
<script type="text/javascript">
	function Buscar(){
    var valor = document.getElementById('inputBusqueda').value;
    var x = new XMLHttpRequest();
    x.open('GET','/maestros/busqueda/?filtro=' + valor)
    x.onreadystatechange = function (e) {
    if (x.readyState == 4) {
        if (x.status === 200) {
            x.addEventListener('load', function(e){
            	//console.log(x.responseText.replace(/\'/g,'"'))
                var jsonData = JSON.parse(x.responseText.replace(/\'/g,'"'))
                iterarObjeto(jsonData);
            });
        } else {
            console.error(x.status);
            }
    }
    }
    x.send();
}
  
function busquedaEnter(e){
    if(e.keyCode == 13){
        Buscar();
    }
}
var js 
function iterarObjeto(obj){
    document.getElementById('tablaMaestro').children[1].innerHTML = '';
    console.log(obj)
    for(i = 0; i < obj.length; i++){
        var tr = document.createElement('tr');
        tr.innerHTML ='<td>' + obj[i].Usuario +'</td>'+
            '<td>' + obj[i].Nombre + '</td>'+
            '<td>' + obj[i].Fecha + '</td>'+
            '<td class="text-center" onclick="window.open(\'/detalles/tutor/'+obj[i].Usuario +'\')" ><span style="color: #17a2b8;" class="oi oi-info"></span></td>'+
 		 	'<td class="text-center" onclick="window.open(\'/actualiza/maestro/'+obj[i].Usuario +'\')" ><span style="color: #fe6265;" class="oi oi-pencil"></span></td>';
        document.getElementById('tablaMaestro').children[1].appendChild(tr);
    }
}
</script>
{% endblock %}